@use '../resets';

.about-intro-section {
	padding: 7em 0 4em 0;
	// background: red;

	.container {
		display: grid;
		gap: 2em;
		grid-template-areas:
			'text-wrap'
			'img-wrap';

		@include resets.breakpoints();

		.text-wrap {
			text-align: center;

			.heading {
				margin-bottom: 0.5em;
				font-size: resets.$heading-font-size;

				.highlight {
					@include resets.text-gradient();
				}
			}

			.sub-text {
				line-height: resets.$line-height;
				margin-bottom: 1em;
			}

			.btn-wrap {
				.link {
					display: inline-block;
					box-shadow: resets.$shadow;
					@include resets.primary-btn();
					width: 100%;
				}
			}

			@media screen and (min-width: 43em) {
				// text-align: left;

				.btn-wrap {
					.link {
						width: unset;
					}
				}
			}

			@media screen and (min-width: 62em) {
				text-align: left;
			}
		}

		.img-wrap {
			display: grid;
			gap: 1em;
			grid-area: img-wrap;

			.card {
				height: 250px;
				width: 100%;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					border-radius: 20px;
				}

				.third-img {
					object-position: left;
				}
			}
		}

		@media screen and (min-width: 43em) {
			width: 70%;

			.img-wrap {
				display: flex;
			}
		}

		@media screen and (min-width: 62em) {
			display: flex;
			gap: 2em;

			.img-wrap {
				display: flex;

				.card {
					width: 230px;
					height: 350px;
				}
			}
		}
	}

	@media screen and (min-width: 62em) {
		padding-top: 10em;

		.container {
			width: 90%;

			.text-wrap {
				padding-top: 1.5em;

				.sub-text {
					margin-bottom: 2em;
				}
			}
		}
	}
}
