@use '../resets';

.admissions-section {
	margin-bottom: 7em;
	// background: #7a7d82;
	background: teal;
	padding: 4em 0;
	position: relative;
	overflow: hidden;

	img {
		position: absolute;
		width: 100px;

		&:nth-child(1) {
			right: 20%;
			width: 50px;
			filter: blur(2px);
		}

		&:nth-child(2) {
			right: 7%;
			top: 50%;
			filter: blur(2px);
		}

		&:nth-child(3) {
			left: 10%;
			top: 20%;
			width: 70px;
			filter: blur(2px);
			transform: rotate(-40deg);
		}

		&:nth-child(4) {
			left: 20%;
			top: 45%;
			filter: blur(2px);
			transform: rotate(40deg);
		}

		&:nth-child(5) {
			left: 6%;
			top: 70%;
			filter: blur(2px);
			transform: rotate(40deg);
		}
	}

	.container {
		min-height: 410px;
		position: relative;
		width: 90%;
		margin: 0 auto;

		.text-wrap {
			max-width: 550px;
			padding: 3em;
			margin: 0 auto;
			text-align: center;
			color: resets.$light;

			.heading {
				font-size: resets.$heading-font-size;
				margin-bottom: 0.6em;
			}

			.sub-text {
				margin-bottom: 2.7em;
				line-height: resets.$line-height;
				color: resets.$light;
			}

			.btn {
				@include resets.primary-btn();
			}
		}
	}
}
