@use '../resets';

.cert-section {
	padding: 8em 0 4em 0;
	margin-bottom: 7em;
	overflow-x: hidden;

	.container {
		display: grid;
		gap: 1em;

		.img-wrap {
			img {
				width: 100%;
				border-radius: 20px;
			}
		}

		.text-wrap {
			text-align: center;

			.heading {
				font-size: resets.$heading-font-size;
				margin-bottom: 0.3em;
			}

			.sub-text {
				margin-bottom: 2em;
			}

			@include resets.breakpoints();
		}

		@media screen and (min-width: 43em) {
			.img-wrap {
				width: 60%;
				margin: 0 auto;
			}

			.text-wrap {
				max-width: 600px;
			}
		}

		@media screen and (min-width: 62em) {
			display: flex;
			width: 80%;
			margin: 0 auto;
			gap: 2.8em;
			align-items: center;

			.img-wrap {
				width: 100%;
			}

			.text-wrap {
				text-align: left;

				.heading {
					text-align: left;
				}

				.btn-wrap {
					.btn {
						width: unset;
					}
				}
			}
		}
	}
}
