@use '../resets';

.faculty-mem-section {
	padding: 7em 0 0 0;

	.container {
		@include resets.breakpoints();

		.text-wrap {
			margin-bottom: 3em;

			.heading {
				font-size: resets.$heading-font-size;
				text-align: center;
			}
		}

		.wrap {
			display: grid;
			gap: 1.3em;
			margin-bottom: 5em;

			.card {
				height: 400px;
				width: 100%;
				background: resets.$dark;
				position: relative;

				img {
					height: 100%;
					width: 100%;
					object-fit: cover;
					transition: all 0.6s ease-in-out;
				}

				.member-info-wrap {
					position: absolute;
					top: 65%;
					text-align: center;

					left: 50%;
					transform: translateX(-50%);

					.text-wrap {
						color: resets.$light;
						opacity: 0;
						visibility: hidden;
						transition: all 0.6s ease-in-out;
						// background: red;

						.name {
							text-wrap: nowrap;
						}

						.sub-text {
							color: resets.$light;
						}

						.button-wrap {
							button {
								@include resets.primary-btn();
								margin-top: 1em;
							}
						}
					}
				}

				&:hover {
					img {
						transform: translateY(0);
						height: 60%;
					}

					.member-info-wrap {
						.text-wrap {
							opacity: 1;
							visibility: visible;
						}
					}
				}
			}

			@media screen and (min-width: 43em) {
				grid-template-columns: repeat(2, 1fr);
			}

			@media screen and (min-width: 63em) {
				// grid-template-columns: repeat(3, 1fr);
				display: flex;
				justify-content: center;

				.card {
					width: 350px;
				}
			}
		}

		.btn-wrap {
			text-align: center;

			.link {
				@include resets.primary-btn();
			}
		}

		// disabling the "see all faculty members" button on the about us page
		.about-page-btn {
			display: none;
		}
	}
}
