@use '../resets';

.layer-blur {
	@include resets.layerBlur();
}

.hero-section {
	position: relative;
	display: flex;
	align-items: center;
	overflow-x: hidden !important;
	padding-top: 5em;
	padding-bottom: 5em;

	@media screen and (min-width: 62em) {
		padding-top: 8em;
	}

	.text-slider {
		.swiper-wrapper {
			margin-bottom: 2em;

			.swiper-slide {
				.container {
					width: 90%;
					max-width: 800px;
					margin: 0 auto;

					.text-wrap {
						text-align: center;

						.heading {
							color: resets.$hero-heading-color;
							margin-bottom: 0.5em;

							@media screen and (min-width: 62em) {
								font-size: 2.5em;
							}
						}

						.sub-text {
							margin-bottom: 2em;
							line-height: 2;

							@media screen and (min-width: 62em) {
								padding: 0 2em;
							}
						}
					}
				}
			}
		}

		.pagination-btn {
			--swiper-theme-color: #f32a10;
		}
	}

	.btn {
		// --swiper-theme-color: red;
		--swiper-navigation-color: #fff;
		--swiper-navigation-size: 20px;
		background: resets.$gradient;
		height: 40px;
		width: 40px;

		border-radius: 50%;

		@media screen and (min-width: 43em) {
		}

		@media screen and (min-width: 62em) {
			margin-right: 100px;
			margin-left: 100px;
		}
	}
}

// curvy lines property/values
.main-img-section {
	position: relative;
	overflow-x: hidden;
	margin-top: -7em;
	min-height: 400px;
	// background: tan;
	width: 100%;
	padding-top: 3em;

	@media screen and (min-width: 62em) {
		overflow-x: unset;
	}

	.curvy-lines {
		object-fit: contain;
		object-position: center;
		margin-left: -12em;
		position: absolute;
		top: -10%;
		left: 0;

		@media screen and (min-width: 43em) {
			margin-left: 0;
		}

		@media screen and (min-width: 62em) {
			width: 100%;
			margin-left: 0;
			top: 2%;
		}
	}

	.rounded {
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
			border-radius: 50%;
		}
	}

	.rounded1 {
		position: absolute;
		border-radius: 50%;
		top: 10%;
		left: 2%;
		height: 100px;
		width: 100px;
		animation: bounce1 2s infinite 200ms;

		@media screen and (min-width: 43em) {
			top: 5%;
			left: 10%;
		}

		@media screen and (min-width: 62em) {
			top: 0;
			left: 5%;
			height: 100px;
			width: 100px;
		}
	}

	.rounded2 {
		position: absolute;
		border-radius: 50%;
		top: 18%;
		left: 40%;
		height: 100px;
		width: 100px;
		animation: bounce2 2s infinite 1s;

		@media screen and (min-width: 43em) {
			top: 35%;
			left: 25%;
		}

		@media screen and (min-width: 62em) {
			top: 35%;
			left: 23%;
			height: 120px;
			width: 120px;
		}
	}

	.rounded3 {
		position: absolute;
		border-radius: 50%;
		top: 10%;
		right: 5%;
		height: 90px;
		width: 90px;
		animation: bounce3 2s infinite 500ms;

		@media screen and (min-width: 43em) {
			top: 40%;
			right: 45%;
		}

		@media screen and (min-width: 62em) {
			top: 25%;
			right: 47%;
			height: 130px;
			width: 130px;
		}
	}

	.rounded4 {
		position: absolute;
		border-radius: 50%;
		top: 45%;
		left: 20%;
		height: 100px;
		width: 100px;
		animation: bounce4 2s infinite 300ms;

		@media screen and (min-width: 43em) {
			left: unset;
			right: 25%;
			top: 30%;
		}

		@media screen and (min-width: 62em) {
			top: 10%;
			right: 25%;
			height: 150px;
			width: 150px;
		}
	}

	.rounded5 {
		position: absolute;
		border-radius: 50%;
		right: 20%;
		top: 50%;
		height: 90px;
		width: 90px;
		animation: bounce5 1.8s infinite;

		@media screen and (min-width: 43em) {
			right: 5%;
			top: 15%;
		}

		@media screen and (min-width: 62em) {
			top: 0;
			right: 5%;
			height: 120px;
			width: 120px;
		}
	}
}

@keyframes bounce1 {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-20px);
	}
	100% {
		transform: translateY(0);
	}
}

@keyframes bounce2 {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-25px);
	}
	100% {
		transform: translateY(0);
	}
}

@keyframes bounce3 {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-30px);
	}
	100% {
		transform: translateY(0);
	}
}

@keyframes bounce4 {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-35px);
	}
	100% {
		transform: translateY(0);
	}
}

@keyframes bounce5 {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-40px);
	}
	100% {
		transform: translateY(0);
	}
}
