@use '../resets';

.hero-section {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 85vh;
	// background: red;
	padding-top: 10em;

	.container {
		.img-wrap {
			text-align: center;

			img {
				width: 200px;
			}
		}

		.heading {
			text-align: center;
		}
	}
}
