@use '../resets';

.intro-section {
	padding: 7em 0;

	.container {
		@include resets.breakpoints();

		.wrap {
			.heading {
				font-size: resets.$heading-font-size;
				color: resets.$dark;
				margin-bottom: 1em;
			}

			.sub-text {
				margin-bottom: 3em;
				color: resets.$p-text-color;
				line-height: resets.$line-height;
			}

			.wrap {
				display: grid;
				gap: 2em;

				.stats {
					.num {
						color: #f32a10;
						font-size: 2rem;
					}
				}
			}
		}

		@media screen and (min-width: 43em) {
			max-width: 680px;
		}

		@media screen and (min-width: 62em) {
			max-width: unset;

			.wrap {
				text-align: center;

				.sub-text {
					max-width: 630px;
					margin: 0 auto;
					margin-bottom: 3em;
				}

				.wrap {
					display: flex;
					justify-content: center;
					gap: 6em;
				}
			}
		}
	}
}
