@use '../resets';

.message-section {
	.container {
		min-height: 410px;
		background: resets.$dark;

		position: relative;
		display: grid;
		// gap: 3em;
		@include resets.breakpoints();

		.text-wrap {
			color: resets.$light;
			max-width: 550px;
			padding: 3em;

			.heading {
				font-size: resets.$heading-font-size;
				max-width: 350px;
				margin-bottom: 0.6em;
			}

			.sub-text {
				margin-bottom: 1.5em;
				line-height: resets.$line-height;
			}

			.expand-btn {
				background: transparent;
				border: none;
				color: resets.$light;
			}
		}

		.img-wrap {
			position: relative;

			&::before {
				content: '';
				position: absolute;
				height: 500px;
				width: 90%;
				background: resets.$gradient;
				left: 5%;
			}

			img {
				width: 100%;
				position: relative;
				z-index: 1;
			}
		}

		@media screen and (min-width: 62em) {
			display: flex;

			.text-wrap {
				padding-left: 4em;
			}

			.img-wrap {
				position: absolute;
				right: 0;
				bottom: -7px !important;

				&::before {
					height: 300px;
					top: 30%;
				}

				img {
					width: 450px;
				}
			}
		}
	}
}
