@use '../resets';

.message-section {
	position: relative;

	.dotgrid-img-wrap {
		position: absolute;

		img {
			width: 100%;
		}
	}

	.container {
		min-height: 410px;
		// background: resets.$dark;

		position: relative;
		display: grid;
		// gap: 3em;
		@include resets.breakpoints();

		.text-wrap {
			color: resets.$dark;
			max-width: 550px;
			padding: 3em;

			.heading {
				font-size: resets.$heading-font-size;
				max-width: 350px;
				margin-bottom: 0.6em;
			}

			.sub-text {
				margin-bottom: 1.5em;
				line-height: resets.$line-height;
				color: resets.$p-text-color;
			}

			.expand-btn {
				background: transparent;
				border: none;
				@include resets.text-gradient();
			}
		}

		.img-wrap {
			position: relative;

			&::before {
				content: '';
				position: absolute;
				height: 10px;
				width: 102%;
				background: resets.$gradient;
				left: 0;
				bottom: 0;
				z-index: 3;
				display: none;
			}

			img {
				width: 100%;
				position: relative;
				z-index: 4;
			}
		}

		@media screen and (min-width: 62em) {
			display: flex;
			width: 80%;

			.text-wrap {
				padding-left: 4em;
			}

			.img-wrap {
				position: absolute;
				right: -12%;
				bottom: -7px !important;

				// &::before {
				// 	height: 300px;
				// 	top: 30%;
				// }

				img {
					width: 450px;
				}
			}
		}
	}
}
