@use '../resets';

.about-main {
	display: grid;
	width: 100%;
	min-height: 100vh;
	margin-bottom: 5em;
	position: relative;
	padding-top: 15em;
	// gap: 10em;

	.layer-blur {
		position: absolute;
		height: 300px;
		width: 300px;
		border-radius: 50%;
		top: 20%;
		left: 0;
		background: resets.$gradient;
		opacity: 0.4;
		filter: blur(100px);

		@media screen and (min-width: 43em) {
			height: 500px;
			width: 500px;
		}
	}

	.content {
		margin-bottom: 6em !important;
		position: relative;
		z-index: 3;
		display: grid;
		gap: 4em;

		@include resets.breakpoints();

		.text-wrap {
			width: 100%;
			text-align: center;

			.heading {
				margin-bottom: 0.6em;
				font-size: resets.$heading-font-size;
				color: resets.$hero-heading-color;
				font-size: 2.5rem;
			}

			.sub-text {
				margin-bottom: 2em;
				color: resets.$dark;
				line-height: 1.8;
			}

			.btn-wrap {
				.btn {
					@include resets.primary-btn();
					width: 100%;
				}
			}
		}

		.bg-img-wrap {
			width: 100%;
			height: 300px;
			border-radius: 30px;

			.img {
				height: 100%;
				width: 100%;
				object-fit: cover;
			}
		}

		@media screen and (min-width: 62em) {
			display: flex;
			gap: 3em;
			margin-bottom: 7em !important;

			.text-wrap {
				text-align: left;
				padding-top: 4em;

				.btn-wrap {
					.btn {
						width: unset;
					}
				}
			}

			.bg-img-wrap {
				height: 500px;
			}
		}
	}

	.boldtext-wrap {
		@include resets.breakpoints();

		.text {
			font-size: 1.5rem;
			line-height: 1.9;
			text-align: center;

			span {
				@include resets.text-gradient();
			}
		}

		@media screen and (min-width: 62em) {
			width: 70%;

			.text {
				font-size: 2.5rem;
				text-align: center;
				line-height: 1.5;
			}
		}
	}

	@media screen and (min-width: 62em) {
		padding-top: 15em;
	}
}
