@use '../resets';

.about-main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	min-height: 130vh;
	margin-bottom: 7em;

	.layer-blur {
		position: absolute;
		height: 300px;
		width: 300px;
		border-radius: 50%;
		top: 20%;
		left: 0;
		background: resets.$gradient;
		opacity: 0.4;
		filter: blur(100px);
		z-index: 2;

		@media screen and (min-width: 43em) {
			height: 500px;
			width: 500px;
		}
	}

	.content {
		position: relative;
		@include resets.breakpoints();

		// unsetting the margin top set on the mobile breakpoint
		@media screen and (min-width: 62em) {
			padding-top: 10em;
		}
		// end of unsetting the margin top

		.main-text-container {
			position: relative;
			z-index: 2;
			.heading {
				color: resets.$hero-heading-color;
				font-size: clamp(2rem, 3vw, 4rem);
				margin-bottom: 0.3em;
			}

			.sub-text {
				margin-bottom: 1.5em;
				color: resets.$dark;
				line-height: 1.8;
			}
		}

		.img-wrap {
			height: 200px;
			width: 100%;
			// background: red;
			position: absolute;
			top: 110%;
			z-index: -4 !important;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: center;
			}
		}

		.wrap {
			// position: absolute;

			.sub-text {
				margin-bottom: 1.5em;
				color: resets.$dark;
				line-height: 1.8;
			}
			.btn-wrap {
				display: flex;
				gap: 0.8em;

				.btn {
					@include resets.primary-btn();
				}
			}
		}
	}

	@media screen and (min-width: 62em) {
		min-height: 140vh;
		display: block;
		margin-bottom: 13em;
		position: relative;

		.triangle-wrap {
			position: absolute;
			top: 0;
			left: 20%;
			z-index: 1;
			width: 550px;
			height: 700px;
			background: #fff;
			transform: rotate(45deg);
			border-right: solid 2px red;
		}

		.content {
			padding-top: 13em;

			.main-text-container {
				max-width: 600px;
			}

			.img-wrap {
				right: 0;
				width: 500px;
				height: 400px;
			}

			.wrap {
				position: absolute;
				top: 220%;
				max-width: 600px;
				text-align: right;
				right: 0;

				.btn-wrap {
					display: flex;
					justify-content: flex-end;
				}
			}
		}
	}
}
