@use '../resets';

@mixin form-wrap() {
	.form {
		.heading {
			margin-bottom: 1.5em;
		}

		.input-field-area {
			display: grid;
			gap: 1em;
			margin-bottom: 3em;

			.username-wrap {
				display: grid;
				gap: 1em;

				.name-wrap {
					display: grid;
					// gap: 0.5em;
					width: 100%;

					label {
						margin-bottom: 0;
						font-size: 0.8rem;
					}

					input {
						border: none;
						border-bottom: 1px solid resets.$p-text-color;
						background: transparent;
						padding: 0.8em 1em;
						outline: none;
					}
				}

				@media screen and (min-width: 62em) {
					display: flex;
				}
			}

			.wrap {
				display: grid;

				label {
					font-size: 0.8rem;
				}

				input {
					border: none;
					border-bottom: 1px solid resets.$p-text-color;
					background: transparent;
					padding: 0.8em 1em;
					outline: none;

					&:active {
						outline: none;
					}
				}

				textarea {
					border: none;
					height: 80px;
					border-bottom: 1px solid resets.$p-text-color;
					outline: none;
					margin-top: 0.5em;
				}
			}
		}

		.btn-wrap {
			.submit-btn {
				@include resets.primary-btn();
				width: 100%;

				@media screen and (min-width: 43em) {
				}

				@media screen and (min-width: 62em) {
					width: unset;
				}
			}
		}
	}
}
