@use '../resets';

// the background images styles properties are inside the resets partial

.course-hero-section {
	// background: red;
	position: relative;
	z-index: 1;
	padding-top: 13em;
	margin-bottom: 7em;

	.container {
		@include resets.breakpoints();

		.course-heading-wrap {
			margin-bottom: 2em;
			max-width: 600px;

			.course-title {
				margin-bottom: 0.5em;
				font-size: 2rem;
			}

			.sub-title {
				color: resets.$p-text-color;
				font-weight: normal;
			}
		}

		.course-art {
			background: resets.$dark;
			height: 200px;
			width: 100%;
			margin-bottom: 2.5em;
			display: none;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		.course-content {
			// margin-bottom: 2em;
			background: resets.$light;
			box-shadow: 0 2px 30px rgba(0, 0, 0, 0.116);
			padding: 2.5em 1.5em 1em 1.5em;
			margin-bottom: 3em;
			border-radius: 0.5em;

			.content-wrap {
				margin-bottom: 1.5em;

				.heading {
					margin-bottom: 1em;
				}

				.text {
					font-weight: normal;
					margin-bottom: 0.5em;

					i {
						display: inline-block;
						margin-right: 0.5em;
						@include resets.text-gradient();
					}
				}
			}
		}

		.course-modules {
			.module-wrap {
				margin-bottom: 1.5em;

				.heading {
					margin-bottom: 0.7em;
				}

				.text {
					margin-bottom: 1em;
				}

				.module-list {
					display: grid;
					// gap: 1rem;
				}
			}
		}

		@media screen and (min-width: 62em) {
			width: 70%;
		}
	}
}

.certified-wrap {
	background: teal;
	min-height: 250px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	overflow-y: hidden;
	padding: 4em 0;
	margin-bottom: 8em;

	.wrap {
		width: 90%;
		max-width: 700px;

		.heading {
			font-size: resets.$heading-font-size;
			color: resets.$light;
			margin-bottom: 0.5em;
		}

		.subheading {
			margin-bottom: 2em;
			color: resets.$light;
		}

		.enrol-btn {
			@include resets.primary-btn();
		}
	}

	.pos-svg {
		position: absolute;
		right: 0;
		top: 0;
		height: 100%;

		img {
			height: 100%;
		}
	}
}
