@use '../resets';

.reg-form-modal {
	position: fixed;
	top: 0;
	height: 100%;
	width: 100%;
	display: grid;
	gap: 1.5em;

	background: resets.$light;
	z-index: 4;
	opacity: 0;
	visibility: hidden;
	transition: all 0.5s ease-in;
	overflow-y: auto;

	.content {
		width: 100%;
		padding: 2em;

		.brand-wrap {
			margin-bottom: 2em;
			img {
				width: 100px;
			}
		}

		.form-heading {
			margin-bottom: 0.5em;
			font-size: 1.5rem;
		}

		.subtext {
			margin-bottom: 2em;
		}

		.form {
			display: grid;

			.personal-info-wrap {
				margin-bottom: 1.9em;

				.title {
					margin-bottom: 0.6em;
					@include resets.text-gradient();
				}

				.wrap {
					display: grid;

					.sub-wrap {
						display: grid;

						label {
							margin-bottom: 0;
							font-size: 0.8rem;
						}

						input {
							border: none;
							border-bottom: 1px solid resets.$p-text-color;
							background: transparent;
							padding: 0.8em 1em;
							outline: none;
						}
					}
				}

				.first-data-wrap {
					.sub-wrap {
						margin-bottom: 1.5em;
					}

					@media screen and (min-width: 62em) {
						display: flex;
						gap: 1em;

						.sub-wrap {
							width: 100%;
						}
					}
				}

				.second-data-wrap {
					margin-bottom: 1.5em;
				}

				.data-wrap {
					margin-bottom: 1.5em;
				}

				.gender-wrap {
					// background: teal;

					label {
						display: flex;
						gap: 2em;
						// background: orange;
						width: 200px;
						justify-content: space-between;
						margin-bottom: 0.5em;

						&:nth-child(1) {
							margin-bottom: 1em;
							font-weight: 500;
						}
					}
				}
			}

			.prof-info-wrap {
				margin-bottom: 1.9em;

				.title {
					margin-bottom: 0.6em;
					@include resets.text-gradient();
				}

				.wrap {
					display: grid;
					// background: red;

					.sub-wrap {
						display: grid;

						label {
							margin-bottom: 0;
							font-size: 0.8rem;
						}

						input {
							border: none;
							border-bottom: 1px solid resets.$p-text-color;
							background: transparent;
							padding: 0.8em 1em;
							outline: none;
						}

						textarea {
							border: none;
							border-bottom: 1.5px solid resets.$p-text-color;
							outline: none;
							padding: 0.5em 1em;
						}
					}
				}

				.data-wrap {
					margin-bottom: 1.5em;

					.sub-wrap {
						label {
							margin-bottom: 0.5em;
						}

						select {
							background: transparent;
							border: solid 1.5px resets.$p-text-color;
							padding: 1em;
							border-radius: 15px;
						}
					}
				}

				.business-wrap {
					// background: teal;

					label {
						display: flex;
						gap: 2em;
						// background: orange;
						width: 200px;
						justify-content: space-between;

						&:nth-child(1) {
							margin-bottom: 1em;
							font-weight: 500;
						}
					}
				}
			}

			.program-info-wrap {
				.title {
					margin-bottom: 0.6em;
					@include resets.text-gradient();
				}

				.wrap {
					display: grid;
					// background: red;

					.sub-wrap {
						display: grid;

						label {
							margin-bottom: 0;
							font-size: 0.8rem;
						}

						input {
							border: none;
							border-bottom: 1px solid resets.$p-text-color;
							background: transparent;
							padding: 0.8em 1em;
							outline: none;
						}

						textarea {
							border: none;
							border-bottom: 1.5px solid resets.$p-text-color;
							outline: none;
							padding: 0.5em 1em;
						}
					}
				}

				.data-wrap {
					margin-bottom: 1.5em;

					.sub-wrap {
						label {
							margin-bottom: 0.5em;
						}

						select {
							background: transparent;
							border: solid 1.5px resets.$p-text-color;
							padding: 1em;
							border-radius: 15px;
						}
					}
				}

				.business-wrap {
					// background: teal;

					label {
						display: flex;
						gap: 2em;
						// background: orange;
						width: 200px;
						justify-content: space-between;

						&:nth-child(1) {
							margin-bottom: 1em;
							font-weight: 500;
						}
					}
				}
			}

			.acknowledgement-wrap {
				.wrap {
					margin-bottom: 1.8em;

					.text {
						margin-bottom: 0.5em;

						a {
							@include resets.text-gradient();
						}
					}

					.sub-wrap {
						display: grid;
						gap: 1em;

						.content-wrap1,
						.content-wrap2,
						.content-wrap3 {
							display: flex;
							align-items: center;
							gap: 1em;

							label {
								font-size: 13px;
							}
						}
					}
				}
			}

			.btn-wrap {
				.submit-btn {
					@include resets.primary-btn();
				}
			}
		}
	}

	.img-wrap {
		height: 100%;
		width: 100%;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	@media screen and (min-width: 62em) {
		grid-template-columns: repeat(2, 1fr);

		.content {
			width: 90%;
		}

		.img-wrap {
			position: fixed;
			width: 50%;
			right: 0;
		}
	}
}

.show-reg-form {
	opacity: 1;
	visibility: visible;
}
