@use '../resets';

.admission-hero {
	height: 80vh;
	display: flex;
	align-items: center;
	justify-content: center;
	// padding-top: 4em;
	overflow-x: hidden;

	.layer-blur {
		@include resets.layer-blur();
	}

	.container {
		text-align: center;
		position: relative;
		z-index: 3;

		.text-wrap {
			max-width: 600px;
			margin: 0 auto;
			@include resets.breakpoints();

			.heading {
				margin-bottom: 0.3em;
				font-size: clamp(2rem, 3vw, 4rem);
				color: resets.$hero-heading-color;
			}

			.sub-text {
				margin-bottom: 1.9em;
			}

			.btn-wrap {
				.btn {
					@include resets.primary-btn();
				}
			}
		}
	}
}

.admission-swiper {
	.swiper-wrapper {
		margin-bottom: 7em;

		img {
			height: 300px;
			width: 100%;
			object-fit: cover;
		}
	}

	@media screen and (min-width: 43em) {
		width: 80%;
		margin: 0 auto;

		.swiper-wrapper {
			img {
				height: 400px;
			}
		}
	}

	@media screen and (min-width: 62em) {
		width: 65%;
	}
}
