@use './resets';

.nav-reg-btn-modal {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.479);
	backdrop-filter: blur(5px);
	z-index: 4;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease-in-out;
	display: flex;
	align-items: center;
	justify-content: center;

	.content {
		text-align: center;

		.heading {
			font-size: 1.5rem;
			color: resets.$light;

			margin-bottom: 1em;
		}

		.go-to-programs {
			@include resets.primary-btn();
		}
	}
}

.show-nav-btn-modal {
	opacity: 1;
	visibility: visible;
}
