@use './resets';

.header-nav {
	position: sticky;
	top: 2%;
	width: 100%;
	height: 15vh;
	display: flex;
	align-items: center;
	z-index: 999;
	transition: all 0.5s ease-in;

	.nav {
		display: flex;
		align-items: center;
		justify-content: space-between;

		height: 15vh;
		@include resets.breakpoints();

		.brand-wrap {
			padding: 1em 0;

			a {
				img {
					display: inline-block;
					width: 150px;
				}
			}
		}

		.nav-list {
			position: fixed;
			height: 90vh;
			width: 100%;
			top: 0;
			right: 0;
			background: resets.$light;
			box-shadow: resets.$shadow;
			z-index: 5;
			display: flex;
			align-items: center;
			padding-left: 3em;
			transform: translateX(100%);
			transition: transform 500ms ease-in;

			.nav-wrap {
				height: fit-content;
				display: grid;
				gap: 3em;

				&::after {
					content: '';
					position: absolute;
					right: 25%;
					top: 20;
					height: 50%;
					width: 2px;
					background: resets.$gradient;
				}

				.nav-logo {
					position: absolute;
					top: 7%;

					.nav-link {
						img {
							width: 100px;
						}
					}
				}

				.nav-item {
					.nav-link {
						color: resets.$dark;
					}
				}

				.close-mobile-nav {
					position: absolute;
					top: 10%;
					right: 10%;
					height: 40px;
					width: 40px;
					color: red;
					cursor: pointer;
					border-radius: 10px;

					@media screen and (min-width: 43em) {
						right: 30%;
					}

					i {
						font-size: 1.5rem;
						line-height: 0;
					}
				}
			}

			@media screen and (min-width: 43em) {
				width: 50%;

				.nav-wrap {
					.nav-logo {
						display: none;
					}
				}
			}

			@media screen and (min-width: 62em) {
				display: flex;
				justify-content: space-between;
				gap: 2em;
				position: unset;
				top: unset;
				height: unset;
				width: unset;
				padding-left: unset;
				background: unset;
				transform: unset;
				box-shadow: unset;

				.nav-wrap {
					height: unset;
					background: rgb(55, 55, 55, 0.1);
					height: unset;
					backdrop-filter: blur(10px);
					padding: 13px 20px;
					border-radius: 15px;
					display: flex !important;
					align-items: center;

					.nav-item {
						.nav-link {
							position: relative;
							transition: all ease-in-out 500ms;

							&::after {
								content: '';
								position: absolute;
								transform: scale(0, 1);
								bottom: -1vh;
								left: 0;
								background: resets.$gradient;
								height: 3px;
								width: 100%;
								transform-origin: left;
								transition: all 500ms ease-in-out;
							}

							&:hover::after {
								transform: scale(1, 1);
							}
						}
					}

					.close-mobile-nav {
						display: none;
					}
				}
			}
		}

		.show-nav {
			transform: translateX(0);
		}

		.nav-btn {
			display: none;

			.btn {
				@include resets.primary-btn();
			}

			@media screen and (min-width: 62em) {
				display: block;
			}
		}

		.hamburger {
			display: flex;
			cursor: pointer;
			background: resets.$gradient;
			align-items: center;
			justify-content: center;
			height: 60px;
			width: 60px;
			border-radius: 15px;

			.fi {
				font-size: 1.6rem;
				color: #fff;
				padding-top: 0.3em;
			}

			@media screen and (min-width: 62em) {
				display: none;
			}
		}
	}
}

.add-nav-bg {
	// background: resets.$light;
	// box-shadow: resets.$shadow;
}

// fixing the nav-links colors for contrast
// .about-nav {
// 	.nav {
// 		.nav-list {
// 			.nav-item {
// 				.nav-link {
// 					color: resets.$light;
// 				}
// 			}
// 		}
// 	}
// }
