@use './resets';

.fade-out-top {
}

.fade-out-right {
	opacity: 0;
	visibility: hidden;
	transition: all 800ms ease-in-out;
	transform: translateX(40px);
}

.fade-out-down {
	opacity: 0;
	visibility: hidden;
	transition: all 500ms ease-in-out;
	transform: translateY(50%);
}

.fade-out-left {
	opacity: 0;
	visibility: hidden;
	transition: all 200ms ease-in-out;
	transform: translateX(-40px);
}

.scale-down {
	opacity: 0;
	visibility: hidden;
	transition: all 500ms ease-in-out;
	transform: scale(0);
}

// page animation/transition trigger classes
.fadein-from-bottom {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}

.fadein-from-left {
	opacity: 1;
	visibility: visible;
	transform: translateX(0);
}

.fadein-from-right {
	opacity: 1;
	visibility: visible;
	transform: translateX(0);
}

.scale-up {
	opacity: 1;
	visibility: visible;
	transform: scale(1);
}
