@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-rounded/css/uicons-regular-rounded.css');

@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-solid-straight/css/uicons-solid-straight.css');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;900&display=swap');

// ideas in random places

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

// yabsom design variables
$hero-heading-color: #d03438;
$dark: #373737;
$p-text-color: #7b7b7b;
$gradient: linear-gradient(145deg, #f32a10, #f58031);
$shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
$light: #ffffff;
$font-family: 'Poppins', sans-serif;
$btn-padding: 12px 30px;
$line-height: 1.8;
$heading-font-size: 2rem;

body {
	font-family: $font-family;
	font-size: 16px;
	line-height: 1.5;
	color: #333;
	overflow-x: hidden !important;
}

ul {
	list-style: none;
}

li,
p {
	font-size: 15px;
	color: $p-text-color;
}

.light-p {
	color: $light;
}

a {
	text-decoration: none;
	color: $p-text-color;
}

button {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	cursor: pointer;

	&:focus {
		outline: none;
	}

	&:hover {
		background-color: #f0f0f0; /* Add hover effect */
	}
}

.pagination-btn {
	--swiper-theme-color: #f32a10;
}

.arc-shaped-bg {
	position: absolute;
	top: 40%;

	img {
		height: 100%;
		width: 100%;
		opacity: 0.4;
	}

	@media screen and (min-width: 62em) {
	}
}

.loadspin-modal {
	position: fixed;
	top: 0;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

	background: rgba(0, 0, 0, 0.733);
	z-index: 4;
	opacity: 0;
	visibility: hidden;
	transition: all 0.5s ease-in;

	.wrap {
		text-align: center;
		color: $light;

		.fa-spinner {
			font-size: 3em;
			color: $light;
			margin-bottom: 0.6em;
		}

		.loading-text {
			color: $light;
		}
	}
}

.show-loading {
	opacity: 1;
	visibility: visible;
	// transition: all 0.5s ease-in;
}

@mixin layerBlur() {
	position: absolute;
	height: 300px;
	width: 300px;
	border-radius: 50%;
	top: 20%;
	left: 10%;
	background: $gradient;
	opacity: 0.2;
	filter: blur(100px);
	// display: none;
	// z-index: 10;

	@media screen and (min-width: 43em) {
		height: 500px;
		width: 500px;
	}
}

@mixin text-gradient() {
	background: -webkit-linear-gradient(145deg, #f32a10, #f58031);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.fixed-social-icons {
	position: fixed;
	top: 50%;
	left: 1%;
	transform: translateY(-50%);
	width: 60px;
	min-height: 150px;
	background: $light;
	box-shadow: $shadow;
	padding: 1em 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1em;
	z-index: 4;
	border-radius: 10px;

	i {
		font-size: 1.7rem;
		@include text-gradient();
	}

	img {
		width: 1.7rem;
	}

	@media screen and (max-width: 43em) {
		// background: teal;
		display: none;
	}
}

@mixin primary-btn() {
	background: #f32a10;
	padding: $btn-padding;
	color: $light;
	border: none;
	// text-transform: capitalize;
	transition: all 0.3s ease-in;
	border-radius: 10px;

	display: inline-block;

	&:hover {
		box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.3);
	}
}

@mixin secondary-btn {
	background: $light;
	padding: $btn-padding;
	color: $dark;
	border: none;
	text-transform: capitalize;
	transition: all 0.3s ease-in;
	border: 1.5px solid $dark;
	border-radius: 10px;

	&:hover {
		box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.3);
	}
}

@mixin breakpoints() {
	width: 90%;
	margin: 0 auto;

	@media screen and (min-width: 43em) {
		width: 85%;
	}
}

@mixin layer-blur() {
	position: absolute;
	height: 300px;
	width: 300px;
	border-radius: 50%;
	top: 20%;
	left: 0;
	background: $gradient;
	opacity: 0.4;
	filter: blur(100px);

	@media screen and (min-width: 43em) {
		height: 500px;
		width: 500px;
	}
}
